<header class="header">
    <%= link_to 'LOGO', root_path, class: "header__logo" %>
    <% items = ['Home', 'Dropdown Menu', 'Mega menu', 'Blog', 'About' ] %>
    <nav>
        <ul class="header__menu">
                <li>
                  <%= link_to 'Home', root_path, class: "header__menu__item" %>
                </li>
                <li class="dropdown">
                    <%= link_to 'Dropdown Menu', '#', class: "header__menu__item" %>
                    <%= render 'layouts/header/dropdown' %>
                </li>
                <li class="mega">
                  <%= link_to 'Mega Menu', '#', class: "header__menu__item" %>
                  <div class="mega-menu">
                    <div class="content">
                      <div class="col">
                        <section>
                          <h2>Featured 1</h2>
                          <a href="#" class="image-wrapper">
                            <span class="img">
                              <img src="https://picsum.photos/400?random=1" alt="random image">
                            </span>
                          </a>
                          <p>lore ipsum dolor sit amet Lorem, ipsum dolor.</p>
                        </section>
                      </div>
                      <div class="col">
                        <section>
                          <h2>Featured 2</h2>
                          <ul class="mega-links">
                            <li><a href="#">Item1</a></li>
                            <li><a href="#">Item2</a></li>
                            <li><a href="#">Item3</a></li>
                            <li><a href="#">Item4</a></li>
                            <li><a href="#">Item5</a></li>
                            <li><a href="#">Item5</a></li>
                          </ul>
                        </section>
                      </div>
                      <div class="col">
                        <section>
                          <h2>Featured 3</h2>
                          <ul class="mega-links">
                            <li><a href="#">Item1</a></li>
                            <li><a href="#">Item2</a></li>
                            <li><a href="#">Item3</a></li>
                            <li><a href="#">Item4</a></li>
                            <li><a href="#">Item5</a></li>
                            <li><a href="#">Item5</a></li>
                          </ul>
                        </section>
                      </div>
                      <div class="col">
                        <section>
                          <h2>Featured 4</h2>
                          <ul class="mega-links">
                            <li><a href="#">Item1</a></li>
                            <li><a href="#">Item2</a></li>
                            <li><a href="#">Item3</a></li>
                            <li><a href="#">Item4</a></li>
                            <li><a href="#">Item5</a></li>
                            <li><a href="#">Item5</a></li>
                          </ul>
                        </section>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="mega">
                  <%= link_to 'Blog', '#', class: "header__menu__item" %>
                  <div class="mega-menu blog">
                    <div class="content">
                      <div class="col">
                        <a href="#" class="image-wrapper">
                          <span class="img">
                          <img src="https://picsum.photos/400?random=3" alt="blog mega">
                          </span>
                        </a>
                        <h2>Title</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Fugit reiciendis blanditiis eveniet laborum hic dicta, 
                        quo aspernatur molestiae ullam esse.</p>
                        <a href="#" class="read-more">read more...</a>
                      </div>
                      <div class="col">
                        <a href="#" class="image-wrapper">
                          <span class="img">
                          <img src="https://picsum.photos/400?random=2" alt="blog mega">
                          </span>
                        </a>
                        <h2>Title</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Fugit reiciendis blanditiis eveniet laborum hic dicta.</p>
                        <a href="#" class="read-more">read more...</a>
                      </div>
                        <div class="col">
                        <a href="#" class="image-wrapper">
                          <span class="img">
                          <img src="https://picsum.photos/400?random=4" alt="blog mega">
                          </span>
                        </a>
                        <h2>Title</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Fugit reiciendis blanditiis eveniet laborum hic dicta, 
                        quo aspernatur molestiae ullam esse.</p>
                        <a href="#" class="read-more">read more...</a>
                      </div>
                        <div class="col">
                        <a href="#" class="image-wrapper">
                          <span class="img">
                          <img src="https://picsum.photos/400?random=5" alt="blog mega">
                          </span>
                        </a>
                        <h2>Title</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Fugit reiciendis blanditiis eveniet laborum hic dicta, 
                        quo aspernatur molestiae ullam esse.</p>
                        <a href="#" class="read-more">read more...</a>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <%= link_to 'About', '#', class: "header__menu__item" %>
                </li>
                <% if current_user %>
                <li>
                  <%= link_to 'Logout', logout_path, data: { turbo_method: :delete }, class: "header__menu__item" %>
                <li>
                <% else %>
                <li>
                  <%= link_to 'Login', login_path, class: "header__menu__item" %>
                </li>
                <li>
                  <%= link_to 'Register', new_user_path, class: "header__menu__item" %>
                </li>
                <% end %>
        </ul>
    </nav>
</header>